@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300;400&family=Oswald:wght@400;500;600&display=swap');

body {
    font-family: 'Open Sans', 'Oswald', sans-serif;
    background-color: rgb(189, 192, 194);
    color: rgb(213, 218, 218);
    margin: 0 auto;
    border: 3px outset rgb(189, 192, 194);
    padding: 5px 0px;
    text-align: justify;
}

p {
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
    padding: 0 5%;
}

#cover-text h1 {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 400%;
    font-weight: 400;
    text-shadow: 0px 5px #000000;
    float: right;
    letter-spacing: 4px;
    bottom: 30px;
    position: absolute;
    right: 300px;

}

nav {
    height: auto;
    font-family: sans-serif;
    background-color: rgb(37, 37, 37);
    color: rgb(189, 192, 194);
    font-weight: 400;
    text-align: center;
    padding: 10px 5px;
    border: 1px outset rgb(189, 192, 194);
}


nav a {
    text-decoration: none;
    font-size: 110%;
    color: rgb(189, 192, 194);
    list-style-type: none;
    margin-right: 40px;
}


nav a:hover {
    background-color: rgb(189, 192, 194);
    color: rgb(37, 37, 37);
    font-weight: 500;
    text-decoration: rgb(37, 37, 37);
    border: 3px outset rgb(104, 104, 104);
    padding: 5px;
    font-style: italic;
}

nav a:focus {
    background-color: rgb(189, 192, 194);
    color: rgb(37, 37, 37);
    font-weight: 500;
    text-decoration: rgb(37, 37, 37);
    border: 3px inset rgb(104, 104, 104);
    padding: 5px;
    font-style: italic;
}

.active {
    border-bottom: 2px double rgb(189, 192, 194);
}



h2, h3 {
    padding-left: 30px;
    font-size: 300%;
}

@media screen and (min-width:900px) {
    #outerwrapper {
        max-width: 70%;
        margin: 0 auto;
        background-color: rgb(49, 118, 245);
        border: 3px double rgb(189, 192, 194);
    }
}
@media screen and (max-width:900px) {
    body {
        width: 87%;
    }

    #cover-text h1 {
        font-size: 230%;
        letter-spacing: 1px;
        bottom: 5px;
        right: 50px
    }
}