@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300;400&family=Oswald:wght@400;500;600&display=swap');

body {
    font-family: 'Open Sans', 'Oswald', sans-serif;
    background-color: rgb(49, 118, 245);
    color: rgb(213, 218, 218);
    margin: 0 auto;
    border: 5px outset rgb(189, 192, 194);
}

section {
    display: inline-block;
    width: 100%;
}

.outset-border-3px {
    border: 5px outset rgb(189, 192, 194);
}

em {
    font-size: 150%;
}

p, ul {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    padding: 0 5%;
}

hr {
    border: 5px outset rgb(213, 218, 218);
}

.section-header {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 450px;
    width: 100%;
    background: url(../images/kukulkan-hero-image.JPG) top center / cover no-repeat;
    position: relative;
}    

.cover-text h1 {
    float: right;
    font-size: 500%;
}
.cover-text {
    width: 100%;
    font-family: 'Kaushan Script', sans-serif;
    font-weight: 400;
    text-shadow: 0px 10px #000000;
    letter-spacing: 4px;
    bottom: 5px;
    right: 30px;
    position: absolute;
}

.text-underline {
    text-decoration: 3px underline;
}

nav {
    height: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(37, 37, 37);
    color: rgb(189, 192, 194);
    font-weight: 400;
    text-align: center;
    padding: 10px 5px;
    border: 5px outset rgb(189, 192, 194);
}


nav a {
    text-decoration: none;
    font-size: 110%;
    color: rgb(189, 192, 194);
    list-style-type: none;
    margin-right: 60px;
}

nav a:hover {
    background-color: rgb(189, 192, 194);
    color: rgb(37, 37, 37);
    font-weight: 500;
    text-decoration: rgb(37, 37, 37);
    border: 5px outset rgb(104, 104, 104);
    padding: 5px;
    font-style: italic;
}

nav a:focus {
    background-color: rgb(189, 192, 194);
    color: rgb(37, 37, 37);
    font-weight: 500;
    text-decoration: rgb(37, 37, 37);
    border: 5px inset rgb(104, 104, 104);
    padding: 5px;
    font-style: italic;
}

.active {
    border-bottom: 2px double rgb(189, 192, 194);
}

h2, h3 {
    padding-left: 30px;
    font-size: 300%;
}

.col-sm-9 ul {
    overflow: hidden;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.col-sm-6 img {
    max-width: 100%;
    max-height: 30rem;
}

  .left-half-column {
      max-width: 50%;
      display: inline-block;
      float: left;
      position: relative;
      overflow: visible;
      left: 2rem;
  }


  .right-half-column {
      max-width: 50%;
      float: right;
      display: inline-block;
      position: relative;
  }

  .watermark-background-image {
        width: 100%;
        background: url(../images/observatory-close-landscape.JPG) center center/ cover no-repeat;
  }

  .watermark-background-image h2 {
      color: #444444;
  }

  .watermark-background-image img {
      opacity: 0.4;
  }

  .travel-left-half {
        background-color: #444444;
        display: block;
        width: 45%;
        left: 50px;
        margin-left: 10px;
        position: relative;
        float: left;
        overflow: visible;
        text-align: left;
        border-radius: 8px;
        border: 3px outset rgb(189, 192, 194);
        top: 100px;
        z-index: 1;
  }

  .tourism-right-half {
        color:#444444;
        background-color: rgb(189, 192, 194);
        display: block;
        width: 45%;
        right: 50px;
        margin-left: 10px;
        text-align: right;
        position: relative;
        float: right;
        overflow: visible;
        border-radius: 8px;
        border: 3px outset #444444;
        margin-bottom: 20px;
  }

  .travel-left-half h3 {
        font-size: 150%;
  }

  .tourism-right-half h3 {
        padding-right: 30px;
        font-size: 150%;
  }

  .shrink-text {
      width: 80%;
      float: right;
  }

  footer {
      background:rgb(37, 37, 37) url(../images/chichen-itza-footer.jpg) bottom center /  cover no-repeat;
      border-top: 3px outset rgb(189, 192, 194);
      height: 100px;
  }

  .masonry-gallery {
      clear: both;
      line-height: 0;
      column-count: 4;
      column-gap: 0;
  }

  .masonry-gallery > img {
      width: 100%;
  }

  @media screen and (min-width:1000px) {
      .shrink-text {
          width: 100%;
      }
  }